#include <windows.h>
//#include <winuser.h>
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "toggle.exe.manifest"
MAINICON ICON "icon.ico"

// File and product versions will be identical
#define STRINGIZE_HELPER(x) #x
#define STRINGIZE(x) STRINGIZE_HELPER(x)
#define VER_MAJOR 1
#define VER_MINOR 0
#define VER_BUILD 14		// Patch ('build' in MS version order)
#define VER_REVISION 0		// Build ('revision' in MS version order)
#define VER_STRING STRINGIZE(VER_MAJOR) "." STRINGIZE(VER_MINOR) "." STRINGIZE(VER_BUILD) "." STRINGIZE(VER_REVISION)

VS_VERSION_INFO VERSIONINFO
FILEVERSION             VER_MAJOR,VER_MINOR,VER_BUILD,VER_REVISION
PRODUCTVERSION          VER_MAJOR,VER_MINOR,VER_BUILD,VER_REVISION
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILEFLAGS               0
FILEOS                  VOS_NT
FILETYPE                VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
        BEGIN
		VALUE "Comments",         "Toggle between Windows dark mode and light mode."
		VALUE "CompanyName",      "danielgjackson"
		VALUE "FileDescription",  "Toggle Dark-Light Mode"
		VALUE "FileVersion",      VER_STRING
		VALUE "InternalName",     "toggle"
		VALUE "LegalCopyright",   "(C)2021-2024 Daniel Jackson (MIT License)"
		VALUE "OriginalFilename", "toggle.exe"
		VALUE "ProductName",      "Toggle Dark-Light Mode"
		VALUE "ProductVersion",	  VER_STRING
        END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0809,1200
	END
END
